.loginForm{
  min-width: 300px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid black;
}
.input{
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}
.submitButton{
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 8px;
  margin: 8px 0;
}

.error{
  color: red;
  font-size: 12px;
}
